/*==================== general styles ====================*/

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  background: linear-gradient(135deg, #6c3ecb, white, #6c3ecb, white, #6c3ecb);
  font-family: "Montserrat";
}

a {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
  color: white;
}

button {
  background: #6c3ecb;
  border-radius: 30px;
  border: none;
  box-shadow: inset 0 0 0 0 rgb(249, 249, 249), 0 0px 20px #6c3ecb;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    transform 0.1s ease-in-out;
}

button:active {
  transform: scale(1.05);
}

button:hover {
  box-shadow: inset 300px 0 0 0 #6c3ecb, 0 0px 20px #6c3ecb;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

/*==================== NAV ====================*/
.navbar {
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.3), #6d3ecb2f);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px #6c3ecb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar a {
  border-radius: 20px;
  box-shadow: inset 0 0 0 0 white;
  color: white;
  font-size: 30px;
  padding: 0 5px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-weight: bold;
}

.mobile-links {
  display: none;
}

.navbar .links-navbar a:hover {
  box-shadow: inset 300px 0 0 0 #6c3ecb, 0 0px 20px #6c3ecb;
  color: white;
}

.navbar .logo {
  color: #6c3ecb;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: bold;
}

.navbar .links-navbar ul {
  display: flex;
}

.navbar .links-navbar ul li {
  margin-left: 10px;
}

/* menu hamburger style */

.navbar .menu-hamburger {
  display: none;
}

.button-burger-menu {
  background-color: white;
  border-radius: 5px;
  height: 7px;
  transition: all 0.5s;
  width: 45px;
}

.button-burger-menu::before,
.button-burger-menu::after {
  background-color: white;
  border-radius: 5px;
  content: "";
  height: 7px;
  position: absolute;
  transition: all 0.5s;
  width: 45px;
}

.button-burger-menu::before {
  transform: translateY(-12px);
}

.button-burger-menu::after {
  transform: translateY(12px);
}

.open .button-burger-menu {
  background: transparent;
  transform: rotate(360deg);
}

.open .button-burger-menu::before {
  transform: rotate(45deg);
}

.open .button-burger-menu::after {
  transform: rotate(-45deg);
}

/*==================== sections ====================*/
section {
  padding: 100px 10px;
}

/*==================== HOME ====================*/
.home {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.home-text h1 {
  font-size: 5rem;
}

.home-text h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.home-text h4 {
  font-size: 30px;
}

.home .multitext {
  color: #6c3ecb;
}

/*==================== ABOUT ====================*/
.about {
  background: linear-gradient(120deg, #e292ff, #93b0ff);
  border-radius: 50px;
  box-shadow: 0 -10px 30px #6c3ecb;
  height: 100vh;
  padding: 20px 50px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text {
  color: white;
  font-size: 3.5vw;
}

.about h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about h3 {
  color: #6c3ecb;
  font-size: 2rem;
  margin-bottom: 20px;
}

/*==================== experiences ====================*/
.experiences .title {
  text-align: center;
}

.experiences .title h1 {
  color: #6c3ecb;
  font-size: 3rem;
}

.experiences .title h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #3d1d7b;
}

.content {
  background: linear-gradient(120deg, #e292ff, #93b0ff);
  border-radius: 40px;
  box-shadow: 0 0 50px white;
  padding: 20px;
  position: relative;
}

.timeline {
  position: relative;
}

.timeline::after {
  background: #fff;
  border-radius: 5px;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: 0;
  width: 5px;
}

.container {
  padding: 10px 40px;
  position: relative;
  transition: all 0.3s;
  width: 50%;
}

.container::after {
  background-color: #6c3ecb;
  background: linear-gradient(120deg, #e292ff, #93b0ff);
  border-radius: 25px;
  border: 4px solid white;
  content: "";
  height: 25px;
  position: absolute;
  right: -17px;
  top: 15px;
  width: 25px;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -15px;
}

/*==================== Skills ====================*/

.skills {
  text-align: center;
  width: 100%;
}

.skills .title h1 {
  color: #6c3ecb;
  font-size: 3rem;
}

.skills li {
  margin: 20px 0;
  padding: 10px;
}

.skills li h3 {
  color: #3d1d7b;
  text-transform: uppercase;
  font-size: 20px;
}

.bar {
  background: #8026ad;
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
  display: block;
  height: 20px;
  transition: 0.3s;
}

.bar:hover {
  box-shadow: 0 14px 20px white;
}

.bar div {
  align-items: center;
  background: linear-gradient(120deg, #e292ff, #93b0ff);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.721);
  display: flex;
  border-radius: 20px;
  height: 20px;
  justify-content: right;
}

.bar div .number {
  align-items: center;
  background: linear-gradient(120deg, #e292ff, #93b0ff);
  border-radius: 50%;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-right: -2px;
  position: absolute;
  width: 50px;
  font-weight: bold;
}

li img {
  width: 84px;
}

.office {
  width: 60%;
}

.html {
  width: 55%;
}

.css {
  width: 45%;
}

.js {
  width: 20%;
}

.python {
  width: 55%;
}

.french {
  width: 100%;
}

.anglais {
  width: 75%;
}

.espagnol {
  width: 40%;
}

.italien {
  width: 40%;
}

/*==================== hobbies ====================*/
.hobbies .title {
  margin-bottom: 40px;
  text-align: center;
}

.hobbies .title h1 {
  color: #6c3ecb;
  font-size: 70px;
}

.hobbies .title h3 {
  color: #3d1d7b;
  font-size: 30px;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 400px;
}

.card {
  background: linear-gradient(#6c3ecb, white);
  border-radius: 40px;
  box-shadow: 0px 0px 20px #6c3ecb;
  height: 365px;
  margin: 15px;
  padding: 20px 35px;
  text-align: center;
  width: 335px;
}

.card h2 {
  color: #560aee;
}

.card .hobbies-explication {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: bold;
}

.card img {
  border-radius: 20px;
  box-shadow: 0px 0px 20px #3d1d7b;
  height: 150px;
  position: relative;
  top: -45px;
  width: 200px;
}

/*==================== project ====================*/
.project .title {
  text-align: center;
}

.project .title h1 {
  color: #6c3ecb;
  font-size: 70px;
}

.project img {
  border-radius: 40px;
  box-shadow: 0 0 20px #6c3ecb;
  transition: all 0.3s;
  width: 300px;
}

.project img:hover {
  transform: scale(1.1);
}

.project-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 400px;
}

.project-content div {
  margin: 10px;
}

.project-content p {
  color: white;
  font-size: 20px;
}

/*==================== contact me ====================*/
.contactme {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  transform: scale(0);
  transition: 0.3s all;
  width: 100vw;
  z-index: 2;
}

.open {
  transform: scale(1);
}

.contactme-container {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.167);
  border-radius: 40px;
  box-shadow: 0 0 50px black;
  display: flex;
  height: 500px;
  justify-content: center;
  padding: 20px 20px;
  position: absolute;
  width: 450px;
}

.contactme-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactme .title h1 {
  font-size: 40px;
}

.contactme .title p {
  font-size: 20px;
}

.contactme .me {
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.237);
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  display: flex;
  height: 175px;
  justify-content: center;
  width: 175px;
  overflow: hidden;
}


.contactme img {
  width: 160px;
}

.contactme-content .social-media img {
  width: 50px;
}

.title {
  text-align: center;
}

/*==================== responsive ====================*/

@media screen and (max-width: 1100px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    padding-left: 70px;
    padding-right: 25px;
    width: 100%;
  }

  .container::before {
    border-width: 10px 10px 10px 0;
    border: medium solid white;
    left: 60px;
  }

  .logo {
    display: none;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0;
  }

  .navbar {
    position: fixed;
    bottom: 5%;
    width: 90%;
    border-radius: 150px;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact {
    display: none;
  }

  .links-navbar {
    display: none;
  }

  .mobile-menu {
    margin-bottom: 0;
  }

  .contactme-container{
    height: 100vh;
  }

  .mobile-links {
    display: flex;
  }

  .mobile-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .mobile-links ul li{
      margin-left: 5px;
    }

  .mobile-links ul li img {
    width: 100%;
    max-width: 90px;
  }

  .navbar .menu-hamburger {
    display: none;
    z-index: 1;
  }

  .hobbies .box {
    flex-direction: column;
  }

  .hobbies .box .card {
    margin-bottom: 40px;
  }

  .project-content {
    flex-direction: column;
  }

  .about-text {
    font-size: 4.5vw;
  }
}